<!DOCTYPE html>
<html>
<head>
    <title>Gru Chat Dashboard</title>
    <%- include ./common/meta.ejs %>
    <style>
        .box-body{

        }

        .new-msg-flag{
            border-radius: 3px;
            background-color: #D8685E;
            width: 6px;
            height: 6px;
            display: inline-block;
            margin-left: 4px;
            display:none;
        }

        .direct-chat-messages {
            padding: 10px;
            height:auto;
            min-height:400px;
            max-height: 500px;
            overflow-y: scroll;
        }

        .direct-chat-text{
            float:left;
            margin-left:10px;
            max-width:500px;
            word-wrap: break-word;
        }

        .direct-chat-primary .right>.direct-chat-text {
            float: right;
            max-width: 500px;
        }

        .direct-chat-msg .direct-chat-name.pull-left{
            margin-right: 10px;
        }

        .direct-chat-msg .direct-chat-name.pull-right{
            margin-left: 10px;
        }

        .right .direct-chat-text {
            margin-right: 10px;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
        <%- include ./common/header.ejs %>

        <!-- left sidebar start -->
        <aside class="main-sidebar">
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <% if(locals.isLogin){%>
                        <img src="/AdminLTE/dist/img/<%=locals.loginUser.avatar%>" class="img-circle" alt="User Image">
                        <%}else{%>
                        <img src="/AdminLTE/dist/img/avatar5.png" class="img-circle" alt="User Image">
                        <%}%>
                    </div>
                    <div class="pull-left info">
                        <p><%=locals.loginUser.name%></p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>

                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <li class="header">Inbox</li>
                    <li class="treeview active">
                        <a href="#">
                            <i class="fa fa-envelope"></i> <span>Friends</span>
                            <small class="label pull-right bg-red"><%=users.length%></small>
                        </a>

                        <ul class="treeview-menu">
                            <% for(var u=0;u<users.length; u++){
                                var user =users[u];
                            %>
                            <li>
                                <a href="javascript:void(0);" class="chat-user" data-id="<%=user.id%>" data-name="<%=user.name%>">
                                    <img src="/AdminLTE/dist/img/<%=user.avatar%>" style="width:28px;margin-right:8px;" class="img-circle" alt="User Image">
                                    <span><%=user.name%></span>
                                    <span class="new-msg-flag" id="new-msg-user-<%=user.id%>"></span>
                                </a>
                            </li>
                            <%}%>

                        </ul>
                    </li>

                    <li class="active">
                        <a href="#">
                            <i class="fa fa-group"></i> <span>Groups</span>
                            <small class="label pull-right bg-red"><%=groups.length%></small>
                        </a>
                        <ul class="treeview-menu">
                            <% for(var g in groups){
                                var group =groups[g];
                            %>

                            <li>
                                <a href="javascript:void(0);" class="chat-group" data-id="<%=group.id%>" data-name="<%=group.name%>">
                                    <i class="fa fa-circle-o text-red"></i>
                                    <%=group.name %>
                                    <span class="new-msg-flag" id="new-msg-group-<%=group.id%>"></span>
                                </a></li>
                            <%}%>


                        </ul>


                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- left sidebar end -->

        <div class="content-wrapper">
            <section class="content-header">
                <h1>

                    <small><span id="chat-with-name"></span></small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="javascript:void(0);"><i class="fa fa-dashboard"></i> History</a></li>
                    <li class="active"></li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content" id="right-content">



            </section>
        </div>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <a href="https://github.com/sumory/gru-example">Project on Github</a>
            </div>
            <strong>Copyright &copy; 2015 <a href="http://sumory.com">sumory.com</a></strong>
        </footer>


    </div>
    <!-- ./wrapper -->

    <%- include ./common/footer.ejs %>


    <script src="/js/socket.io/socket.io.js"></script>
    <script src="/js/gru/profile.js"></script>
    <script>

        $(document).ready(function(){
                Gru.Profile.init();
        });
    </script>


    </body>
</html>
